:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}
